{{define "title"}}Home{{end}}
{{define "scripts"}}
<script src="/static/js/home.js"></script>
{{end}}

{{define "main"}}
<div class="container is-fluid">
  <div class="columns is-desktop">
    <div class="column is-one-quarter-desktop">
      <div class="card mb-3">
        <div class="card-image">
          <figure class="image is-3by4">
            <img src="/static/img/me.jpeg" alt="Me sitting in Disney World holding a lightsaber"
              title="TODO: Get a more professional picture">
          </figure>
        </div>
        <div class="card-content">
          <div class="tile is-vertical notification is-primary">
            <p class="title">Joshua Coffey</p>
          </div>
          <div class="content">
            <p>
              My name is Joshua Coffey and I'm a software engineer currently based in Orlando, Florida. I live here
              with
              my wife and our pets (two cats and a dog). I have too many hobbies to count due to a little thing
              called "<a href="https://youtube.com/shorts/ydk_pc-jx1c?si=_w6BvzLIieKINl5-">cool guy syndrome</a>"
              (severe ADHD) and will be posting about them and anything else I feel like posting about on my blog
              here.
            </p>
            <div>
              <a class="tag is-info is-medium mb-1" href="https://github.com/Queueue0">
                <span class="icon-text">
                  <span class="icon">
                    <i data-feather="github"></i>
                  </span>
                  <span>@Queueue0</span>
                </span>
              </a>
            </div>
            <div>
              <a class="tag is-info is-medium mb-1" href="https://bsky.app/profile/coffey.dad">
                <span class="icon-text">
                  <span class="icon">
                    <svg fill="none" viewBox="0 0 64 57" width="28">
                      <path fill="#002433" d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805ZM50.127 3.805C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745Z"></path>
                    </svg>
                  </span>
                  <span>@coffey.dad</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-quarters-desktop">
      <div class="is-flex is-justify-content-center">
        <h2 class="title is-2 mb-3 pt-2">Recent Posts</h2>
      </div>
      {{if .Posts}}
      {{range .Posts}}
      <div class="card mb-3">
        <header class="card-header">
          <div class="card-header-title fixed-grid has-1-cols pb-0">
            <div class="grid">
              <div class="cell">
                <h3 class="is-size-3 has-text-weight-bold">{{.Title}}</h3>
              </div>
              <div class="cell">
                <div class="field is-grouped is-grouped-multiline">
                  {{range .Tags}}
                  <div class="control">
                    <a href="/blog?filter={{pathEscape .Name}}" class="tag {{.Color}} post-tag">{{.Name}}</a>
                  </div>
                  {{end}}
                </div>
              </div>
            </div>
          </div>
          <p class="card-header-icon">
            Posted {{humanDate .Created}}
            {{if (ne .Modified .Created)}}
            <br>
            Edited &nbsp;{{humanDate .Modified}}
            {{end}}
          </p>
        </header>
        <div class="card-content is-clipped readmore-card">
          <div class="content">
            {{.Body}}
            <span class="readmore">
              <a class="has-text-grey-light has-text-weight-medium" href="/blog/post/{{.URL}}">
                Read Full Post
              </a>
            </span>
          </div>
        </div>
      </div>
      {{end}}
      {{else}}
      <div class="is-flex is-justify-content-center">
        <p>There's nothing here!</p>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
