{{define "title"}}Blog{{end}}

{{define "scripts"}}
<script src="/static/js/pltags.js"></script>
{{end}}

{{define "main"}}
<div class="container is-max-desktop">
  {{if .IsAuthenticated}}
    <div class="level mb-3 ml-3 is-mobile">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-info is-soft" href="/blog/new">
            <i class="pr-1" data-feather="plus-square"></i>Add New Post</a>
        </div>
        <div class="level-item">
          <a class="button is-info is-soft" href="/blog/drafts">
            <i class="pr-1" data-feather="file-text"></i>Drafts</a>
        </div>
        <div class="level-item">
          <a class="button is-info is-soft" href="/upload">
            <i class="pr-1" data-feather="folder-plus"></i>Upload Files</a>
        </div>
      </div>
    </div>
  {{end}}
  <div class="control has-icons-left">
    <div class="select mb-3 ml-3">
      <select name="tagFilter" id="tagFilter">
        <option value="" selected>Filter by tag</option>
        {{range .Tags}}
        <option value="{{pathEscape .Name}}">
          <span class="tag {{.Color}} post-tag">{{.Name}}</span>
        </option>
        {{end}}
      </select>
    </div>
    <div class="icon is-small is-left">
      <i class="pl-6" data-feather="filter"></i>
    </div>
  </div>
  {{template "postlist" .}}
</div>
{{end}}
