{{define "title"}}{{.Post.Title}}{{end}}

{{define "metadata"}}
<meta property="og:title" content="{{.Post.Title}}"/>
<meta property="og:type" content="article"/>
<meta property="og:image" content="https://coffey.dad/static/img/bad_placeholder.png"/>
<meta property="og:image:secure_url" content="https://coffey.dad/static/img/bad_placeholder.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:url" content="https://coffey.dad/blog/post/{{.Post.ID}}"/>
{{end}}

{{define "scripts"}}
<link rel="stylesheet" href="/static/css/post.css">
{{end}}

{{define "main"}}
<div>
  <a class="button ml-5 is-info is-soft" href="/blog"><i class="pr-1" data-feather="arrow-left-circle"></i> Back to all
    posts</a>
  <div class="container px-5">
    <div class="columns">
      <div class="column is-two-thirds-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
        <div class="columns">
          <div class="column">
            <h1 class="title is-1 is-italic">{{.Post.Title}}</h1>
          </div>
          <div class="column is-narrow">
            {{if .IsAuthenticated}}
              <a class="button" href="/blog/edit/{{.Post.ID}}">Edit Post</a>
            {{end}}
          </div>
        </div>
        <p class="is-italic has-text-weight-light">
          Posted {{humanDate .Post.Created}}
          {{if (ne .Post.Modified .Post.Created)}}
          <br>
          Edited &nbsp;{{humanDate .Post.Modified}}
          {{end}}
        </p>
        <hr>
      </div>
    </div>
    <div class="columns">
      {{with .Post}}
      <div class="column is-two-thirds-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
        <div class="content pb-6">
          {{.Body}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
